body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    padding: 20px;
    margin-top: 50px;
    color: #333;
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0 2em 0 0;
}

section.option {
    padding: 1em 0 0 2em;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
}

.option select {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.wishlist-items {
    gap: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.items {
    padding: 0 2em;
    min-height: 60vh;
}

.item img {
    max-width: 100%;
    height: 100%;
    align-items: center;
}

.item a {
    width: 66px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.item p {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.item_buttons {
    display: flex;
    align-items: center;
}

.wishilist_send,
.cart_add {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.2s ease;
}

.wishilist_send > .fa-heart,
.cart_add > .fa-cart-shopping {
    font-size: 24px;
}

.fa-heart:hover,
.fa-cart-shopping:hover {
    color: #ff6666;
}

.wishlist-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.item_descriptors {
    align-items: center;
    padding: 0 0 0 2em;
}

.wishilist_send:hover,
.cart_add:hover {
    transform: translateY(-3px); 
}


@media (max-width: 1200px) {
    .items {
        padding: 0 5em;
    }
}

@media (max-width: 992px) {
    .items {
        padding: 0 3em;
    }
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .item img {
        width: 100%;
        height: auto;
    }
    .item a {
        width: 100%;
        height: auto;
        margin-bottom: 2em;
        justify-content: flex-start;
    }
    .item_descriptors { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin: 0 0 2em 0;
        text-align: center; 
    }
    .item_buttons {
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        margin: 0;
    }
    .item h3 {
        margin: 0;
        padding: 0;
    }
    .item p {
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 768px) {
    .items {
        padding: 0 2em;
    }
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
        padding: 0;
    }
}

@media (max-width: 576px) {
    .items {
        padding: 0 1em;
    }
    .option {
        padding: 1em;
        flex-direction: column;
        align-items: flex-start;
    }
    .option select {
        width: 100%;
        margin-top: 10px;
    }
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .item img {
        width: 100%;
        height: 100%;
    }
    .item a {
        width: 100%;
        justify-content: flex-start;
    }
    .item_buttons {
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 100%; 
        margin: 0;
    }
    .item h3 {
        margin-top: 10px;
        font-size: 16px;
    }
    .item p {
        font-size: 12px;
    }
    .fa-heart,
    .fa-cart-shopping {
        font-size: 20px;
    }
}
